@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%) scale(3);
}

@media screen and (min-width: 768px) {
  .logo {
    transform: translate(-50%, -50%) scale(6);
  }
}